{% load static %}

<html>
  <head>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/mantee.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="container-fluid">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">
            <h5 class="my-0 mr-md-auto font-weight-normal">Alpha Tech Academy</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
                <a class="p-2 text-dark" href="{% url 'blog' %}">Blog</a>
                <a class="p-2 text-dark" href="{% url 'mentor' %}">Mentor</a>
                <a class="p-2 text-dark" href="{% url 'mentee' %}">Mentee</a>
                <a class="p-2 text-dark" href="{% url 'author' %}">Author</a>
            </nav>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 text-center center head-color">
            <div>
                <img id="foto" src="{% static 'images/alpha-logo.png' %}" alt="" >
                <br/><br/>
                <span id="nama"><b>Alpha Tech Academy</b></span>
                <br/>
                <p class="margin-header">Alpha Tech Academy is a tech talent incubator that gives everyone (even
                  non IT background) a chance to be a professional Tech Talent within 3
                  months. Contact Person; Email : academy@alphatech.id Mobile phone:
                  0877 9609 9530</p>
            </div>
          </div>
        </div>  
    </header>
    <div class="section">
            <div class="container">
                <div class="section-row">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center center"><span>Our Mentee</span></div>
                    </div>
                </div>  
                <div class="section-row">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="img">
                                <img src="{% static 'images/Deepin-Screenshot-select-area-20181009100635.png' %}" alt="get benefit">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-12">
                            <h5 class="title-light">Steve Jobs</h5>
                            <p class="deskrip">"I learn so much from Alpha Tech"</p>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="img">
                                <img src="{% static 'images/Deepin-Screenshot-select-area-20181009100646.png' %}" alt="get job">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-12">
                            <h5 class="title-light">Larry Page</h5>
                            <p class="deskrip">"Great place to learn programming."</div>
                    </div>
                </div>
                <div class="section-row">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="img">
                                <img src="{% static 'images/Deepin-Screenshot-select-area-20181009100620.png' %}" alt="get paid">
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6 col-12">
                            <h5 class="title-light">Mark Zuckenberg</h5>
                            <p class="deskrip">"The best place for who want to be a great IT talent."</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 center"></div>
                </div>
            </div>
                
  </body>
  <footer>
      <div class="product">
          <span>Our Product:</span>
          <img src="{% static 'images/logo-grey-alphapay.png' %}" class="img-product" alt="logo alphapay">
          <img src="{% static 'images/logo-grey-sepulsa.png' %}" class="img-product" alt="logo sepulsa">
          <img src="{% static 'images/logo-grey-alphabill.png' %}" class="img-product" alt="logo alphabill">
      </div>
      <div class="contact-footer">
        <span>Contact Person: Mobile phone: 0877 9609 9530. Email : <a href="">academy@alphatech.id</a></span>
      </div>   
  </footer>